* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 80px;
}

main {
  margin-top: 20px;
  display: flex;
  width: 50%;
  margin-left: 25%;
  font-size: large;
  font-family: 'Qahiri', sans-serif;
}

.lest-side {
  width: 50%;
  text-align: left;
}

.right-side {
  width: 50%;
}

.list {
  border: 2px solid black;
  width: 75%;
  margin-right: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input {
  margin-bottom: 10px;
  height: 1.5rem;
  border: 2px solid black;
}

.left-title {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}

.right-title {
  padding-left: 1rem;
  padding-bottom: 10px;
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
}

.btn-refresh {
  width: 7rem;
  font-size: 18px;
  margin-bottom: 10px;
}

.main-title {
  margin-left: 25%;
}

#scores {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 4px;
}

#scores:nth-child(even) {
  background-color: #ddd;
  width: 100%;
}

table {
  width: 100%;
}

#sub {
  width: 5rem;
  margin-left: 90px;
  border: 2px solid black;
}
