main {
  display: flex;
  width: 50%;
  margin-left: 25%;
  font-size: large;
}

.lest-side {
  width: 50%;
  text-align: left;
}

.right-side {
  width: 50%;
}

.list {
  border: 2px solid black;
  padding-left: 0.5rem;
  width: 85%;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input {
  margin-bottom: 10px;
  height: 1.5rem;
  border: 2px solid black;
}

.left-title {
  padding-left: 1rem;
  font-size: 28px;
}

.right-title {
  padding-left: 1rem;
  padding-bottom: 10px;
  font-size: 28px;
}

.btn {
  width: 7rem;
  font-size: 18px;
  margin-bottom: 10px;
}

.main-title {
  margin-left: 25%;
}

tr:nth-child(even) {
  background-color: #ddd;
  width: 100%;
}

table {
  width: 100%;
}

#sub {
  width: 5rem;
  margin-left: 90px;
  border: 2px solid black;
}
